Repository fjall-rs/fjall, pull requests merged in 2024-07, with the labels that each got.

#69 Implement axum-kv example
  examples/axum-kv/.gitignore
  examples/axum-kv/Cargo.toml
  examples/axum-kv/README.md
  examples/axum-kv/src/error.rs
  examples/axum-kv/src/main.rs
Labels: examples

#60 Fix opening partition that is marked as deleted
  src/partition/mod.rs
  tests/partition_delete.rs
Labels: fix

#62 Check Arc drops
  Cargo.toml
  src/compaction/manager.rs
  src/drop.rs
  src/flush/manager.rs
  src/journal/manager.rs
  src/journal/mod.rs
  src/keyspace.rs
  src/lib.rs
  src/monitor.rs
  src/partition/mod.rs
  tests/keyspace_drop.rs
Labels: enhancement, test, fix

#67 Feature: Config::temporary
  src/config.rs
  src/keyspace.rs
Labels: enhancement, api
